* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1366px;
  max-height: 771px;
  padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 5.125rem;
  padding: 54px 200px 0px 107px;
}

.countdown-ready-contents {
  display: flex;
  margin-top: 19px;
  gap: 25px;
  height: 10.6875rem;
}

.countdown-ready {
  width: 550px;
}

.timer {
  display: flex;
  flex-direction: column;
  gap: 29px;
  text-align: center;
  margin-bottom: 183px;
}

.timer > span {
  font: 14px;
  color: #c8c8c8;
  font-weight: lighter;
  margin-top: 0;
}

.top-image {
  width: 100%;
  height: 8.3125rem;
  margin-bottom: 54px;
}

.botton-image {
  /* margin-right: 60px; */
  width: 100%;
  height: 14.3125rem;
}

.rocket-image {
  margin-right: 100px;
}

p {
  font-size: 4.5rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #6c63ff;
}

.separator {
  transform: translateY(40px);
}

span {
  font-size: 14px;
  color: #9c9ab6;
  margin-top: 45px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border-radius: 10px;
  color: #ffffff;
  background-color: #6c63ff;
  width: 10rem;
  height: 2.875rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.open-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
}

#fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.form-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 10px;
}

.btn-modal {
  width: 7rem;
  height: 2rem;
}

#fade,
#form-modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#form-modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}
